<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor">
        <p id="p">ID</p>
        <p id="p">ARTICULO</p>
        <p id="p">INVENTARIO</p>
        <p id="p">DESCRIPCIÓN</p>
        <p id="p">LUGAR</p>
        <p id="p">FECHA</p>
        <p id="p">RESPONSABLE</p>
        <p id="p">CODIGO</p>
        <p id="p">TELEFONO</p>
        <p id="p">ESTADO</p> 

    </div>
    <script src="./articulos.js"></script>
</body>
</html>