<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="contenedor">
        <p id="p">ID</p>
        <p id="p">ARTICULO</p>
        <p id="p">INVENTARIO</p>
        <p id="p">DESCRIPCIÓN</p>
        <p id="p">LUGAR</p>
        <p id="p">FECHA</p>
        <p id="p">RESPONSABLE</p>
        <p id="p">CODIGO</p>
        <p id="p">TELEFONO</p>
        <p id="p">ESTADO</p> 

    </div>
    <form id="add-form">
        <label>
          Artículo:
          <input type="text" name="articulo" />
        </label>
        <label>
          Inventario:
          <input type="text" name="inventario" />
        </label>
        <label>
          Descripción:
          <input type="text" name="descripcion" />
        </label>
        <label>
          Lugar:
          <input type="text" name="lugar" />
        </label>
        
        <label>
          Responsable:
          <input type="text" name="responsable" />
        </label>
        <label>
          Codigo:
          <input type="text" name="codigo" />
        </label>
        <label>
          Telefono:
          <input type="text" name="telefono" />
        </label>
        <label>
          Estado:
          <input type="text" name="estado" />
        </label>
        

        
        <button type="submit">Agregar artículo</button>
      </form>
      
    <script src="./articulos.js"></script>
</body>
</html>